
main {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(20,10,90);
  color: rgb(256,256,256);
}

.title {
  margin-top: 70px;
  font-family: 'Major Mono Display', monospace;
  font-size: 16pt;
}

/* .image {
  display: inline-block;
} */

.result {
  font-size: 20pt;
  margin-top: 5%;
}

.alphabets {
  margin-bottom: auto;
  font-size: 15pt;
}

input {
  border: none;
  width: 250px;
  height: 30px;
  background-color: rgb(67,234,225);
}

button {
  font-weight: bolder;
  border-radius: 20px;
  border-width: 0;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(20,10,90);
}